{% extends 'layouts/main.html' %}

{% block title %}Show All{% endblock %}

{% block about %}
<p>This book contains {{ stats['diaries'] }} diaries with {{ stats['length'] }} characters, covering date range from {{ stats['from'] }} to {{ stats['to'] }}. The last change was at {{ stats['last_changed'] }}.</p>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-10 col-lg-8">
    <div class="input-group mb-3">
      <span class="input-group-text" id="searchIcon"><i class="bi bi-search"></i></span>
      <input id="searchKeyword" type="text" class="form-control" placeholder="Enter keyword to search" aria-label="keyword" aria-describedby="searchIcon">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">History</button>
      <ul class="dropdown-menu dropdown-menu-end" id="searchHistoryMenu">
        <li><p class="px-4 text-muted">No history yet.</p></li>
      </ul>
    </div>
  </div>
</div>
<br />
<div id="cardlist" class="row" data-masonry='{"percentPosition": true }'>
    {{ cards | safe }}
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/index.js"></script>
<script>
var wto;
$(document).ready(function() {
  updateSearchHistoryMenu();

  $(window).bind('scroll', bindScroll('{{ token }}'));
  
  $('#searchKeyword').change(function() {
    clearTimeout(wto);
    wto = setTimeout(function() {
      var keyword = $('#searchKeyword').val();
      if (keyword.length > 0) {
        searchDiaries(keyword);
      }
    }, 1000);
  });
});
</script>
{% endblock %}