
<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>

    <!-- meta/ -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Web UI to show diaries.">
    <meta name="author" content="Zujian Cai">
    <!-- /meta -->

    <title>Keep Diary - {% block title %}{% endblock %}</title>

    <!-- styles/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <!-- /styles -->

    <!-- favicons/ -->
    <link rel="apple-touch-icon" href="/static/img/favicon_256.png" sizes="180x180">
    <link rel="mask-icon" href="/static/img/favicon.png" color="#712cf9">
    <link rel="icon" href="/static/img/favicon.png">
    <meta name="theme-color" content="#712cf9">
    <!-- /favicons -->

  </head>

  <body data-bs-theme="dark">

    <div class="loading-shield" style="display: none;">
      <div class="loading-spinner">
        <img src="/static/img/Spin-1s-200px.gif" alt="Loading Spinner" />
      </div>
    </div>

    <header data-bs-theme="dark">
      <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-5 py-4">
              <h5>About</h5>
              <p class="text-body-secondary">{% block about %}{% endblock %}</p>
            </div>
            <div class="col-sm-3 offset-md-1 py-4">
              <h5>Menu</h5>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Show All</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">List Months</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">List Labels</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/zujiancai/keep-diary" target="_blank">Project Page</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-3 py-4">
              <h5>Settings</h5>
              <ul class="list-unstyled">
                  <li>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="darkModeSwitch">
                      <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown" id="backgroundImageSelect">
                      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="backgroundImageDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Wallpaper: Food
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="backgroundImageDropdownButton" id="backgroundImageDropdownMenu">
                        <li><a class="dropdown-item btn image-menu border-bottom disabled" href="#">Food</a></li>
                        <li><a class="dropdown-item btn image-menu border-bottom" href="#">Grocery</a></li>
                        <li><a class="dropdown-item btn image-menu border-bottom" href="#">Music</a></li>
                      </div>
                    </div>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark shadow-sm" id="navbarContainer">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24">
              <path d="M3 10H21M7 3V5M17 3V5M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z"/>
            </svg>
              <strong>Keep Diary</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main class="bg-body-tertiary image-wallpaper">
      <div class="py-5">
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
        <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Zujian Cai &copy; 2024</p>
    </div>
    </footer>

    <!-- scripts/ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
    <script src="/static/js/main.js"></script>
    {% block scripts %}{% endblock %}
    <!-- /scripts -->

  </body>

</html>
